@import '_font.scss';

body {
  // font-family: 'Interface', 'Helvetica Nueue', Arial;
  font-family: 'Inconsolata', 'Helvetica Nueue', Arial;
  // font-family: 'Rubik Mono One', sans-serif;
  background-color: #fcfcfc; //#1fc8a9; //#d3e8e1;
}

svg > rect {
  animation: fade-in 3s ease-in;
}

rect.svg--top {
  animation: move-svg-top 15s cubic-bezier(0.175, 0.885, 0.32, 1.275); //infinite alternate-reverse;
}

span.hands {
  display: inline-block;
  animation: 1s wave infinite alternate-reverse;
}

rect.svg--bottom {
  animation: move-svg-bottom 15s cubic-bezier(0.175, 0.885, 0.32, 1.275); //infinite alternate-reverse;
}

.headline {
  // font-family: 'CamingoCode-Bold', 'Helvetica Nueue', Arial;
  font-family: 'Rubik Mono One', 'Helvetica Nueue', Arial;  
  font-size: 5em;
  letter-spacing: -3px;
  margin: 0;
  // color: #0c00ff;
}

.kicker, .byline {
  // font-family: 'Inconsolata', 'Helvetica Nueue', Arial;
  font-family: 'Rubik Mono One', sans-serif;
  margin: 0;
  // color: blue;
}

.masthead--background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.masthead--svg {
  width: calc(100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  z-index: -1;
}

article {
  background-color: #fff;
  width: 100vw;
}

nav > ul {
  width: 50%;
  float: right;
}

nav > ul > li {
  padding: 1%;
  float: left;
  margin: 10px 0;
  list-style: none;
  font-size: 1.4em;
}

.main--nav li:not(:last-child):after {
  content: '\00a0\00a0\00a0\00a0';
  position: relative;
  top: 0;
  left: 3%;
  width: 100px;
  text-decoration: line-through;
  font-weight: bold;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-svg-top {
  0% {
    transform: rotate(-20deg) translate(500px, -90px)
  }
  100% {
    transform: rotate(-30deg) translate(600px, -100px)
  }  
}

@keyframes move-svg-bottom {
  0% {
    transform: rotate(30deg) translate(180px, 280px)
  }
  100% {
    transform: rotate(35deg) translate(200px, 300px)
  }
}

@keyframes wave {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}