@import '_font.scss';

body {
  font-family: 'Interface', 'Helvetica Nueue', Arial;  
}

.headline {
  font-family: 'CamingoCode-Bold', 'Helvetica Nueue', Arial;
  font-family: 'Interface', 'Helvetica Nueue', Arial;  
  font-size: 5em;
  letter-spacing: -3px;
  margin: 0;
}

.kicker, .byline {
  margin: 0;
  color: blue;
}


footer {
  width: 110px;
  margin: 0 auto;
  padding: 5% 2%;
}

.social {
  float: left;
  display: inline-block;
  margin: 0 10px;
}