@import '_font.scss';

body {
  font-family: 'Interface', 'Helvetica Nueue', Arial;
  background-color: #fcfcfc; //#1fc8a9; //#d3e8e1;
}

svg > rect {
  animation: fade-in 3s ease-in;
}

rect.svg--top {
  animation: move-svg-top 15s cubic-bezier(0.175, 0.885, 0.32, 1.275); //infinite alternate-reverse;
}

rect.svg--bottom {
  animation: move-svg-bottom 15s cubic-bezier(0.175, 0.885, 0.32, 1.275); //infinite alternate-reverse;
}

.headline {
  // font-family: 'CamingoCode-Bold', 'Helvetica Nueue', Arial;
  font-family: 'Interface', 'Helvetica Nueue', Arial;  
  font-size: 5em;
  letter-spacing: -3px;
  margin: 0;
  color: #0c00ff;
}

.kicker, .byline {
  margin: 0;
  color: blue;
}

.masthead--background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.masthead--svg {
  width: calc(100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  z-index: -1;
}

article {
  background-color: #fff;
  width: 100vw;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-svg-top {
  0% {
    transform: rotate(-20deg) translate(500px, -90px)
  }
  100% {
    transform: rotate(-30deg) translate(600px, -100px)
  }  
}

@keyframes move-svg-bottom {
  0% {
    transform: rotate(30deg) translate(180px, 280px)
  }
  100% {
    transform: rotate(35deg) translate(200px, 300px)
  }
}